:root {
  --default-color: #707d8a;
  --primary-color: #344659;
  --secondary-color: #45bfbe;
  --selected-color: #dff2f2;

  --gap: 0.125rem;
  --font-size: 1.125rem;
}

html {
  font-size: 16px;
  font-family: "Golos Text", sans-serif;
}

.app {
  color: var(--default-color);
}

.icons {
  color: var(--primary-color);
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap);
}

.col {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex-basis: 50%;
}

.selected {
  background-color: var(--selected-color);
}
