body {
  background: #000;
}

* {
  color: #fafafa;
  list-style-type: none;
  text-decoration: none;
}

.App {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}


img {
  margin-right: 5px;
  width: 16px;
}

.treeimg {
  width: 24px;
}

.selected {
  background: pink 
}
